* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: url(./images/background.jpg) no-repeat;
  background-size: cover;
}

.background {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  min-height: 100vh;
}
